.vscode/**
.vscode-test/**
src/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
node
node_modules
target/antrun
target/archive-tmp
target/classes
target/generated-sources
target/gwt
target/gwt-unitCache
target/maven-archiver
target/maven-status
target/*.war
target/*.zip
target/*.jar
target/out/test/**
images