
.gwt-PopupPanel {
	background-color: white;
	padding: 0px !important;
	}

.centerPopup {
	border: 2px solid black !important;
}

.centerPopupContent {
	padding: 2px !important;
}

.exportLink {
	font-size: 130%;
	font-weight: bold;
	margin-top: 0.3em;
	margin-bottom: 0.3em;
}

.menuPopup {
	padding: 0px !important;
}

.menuPopup.light {
	border: 2px solid #E3E8F3 !important;
}

.menuPopup.dark {
	border: 2px solid #808080 !important;
}

.popupHeader {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 0.8em;
	letter-spacing: 1px;
	color: white;
	background-color: black;
	padding-bottom: 0.1em;
}

.mainView {
	outline:none;
}

* {
/* Prevent any object from being highlighted upon touch event*/
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

.gwt-SuggestBoxPopup {
	/*   overflow: auto !important; */
	/*   max-height: 400px; */
	background-color: white !important;
}

.gwt-SuggestBoxPopup .item {
	font-size: 90% !important;
	padding: 0px !important;
}

/* We can't color these using Java-code, therefore we have to rely on CSS */
.gwt-MenuItem.gwt-MenuItem-selected.light {
	background: #E3E8F3 !important;
}

.gwt-MenuItem.gwt-MenuItem-selected.dark {
	background: #808080 !important;
}

.com-baselet-gwt-client-view-MainView_MainViewUiBinderImpl_GenCss_style-menuItem.light:hover {
    background: #E3E8F3 !important;
}

.com-baselet-gwt-client-view-MainView_MainViewUiBinderImpl_GenCss_style-menuItem.dark:hover {
    background: #808080 !important;
}