<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/umlet-standalone/src/main/java/com/baselet/standalone/MainStandalone.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.m2e.launchconfig.classpathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.baselet.standalone.MainStandalone"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-action=convert -format=jpg &quot;-filename=${project_loc:umlet-res}/src/main/resources/palettes/UML Class.uxf&quot; -output=D:\output.jpg"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="umlet-standalone"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.m2e.launchconfig.sourcepathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Djava.awt.headless=true -Dlog4j.configuration=file:${project_loc:umlet-standalone}/src/test/resources/log4j.properties"/>
</launchConfiguration>
