<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="UmletPlugin"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="appName"
               value="UmletPlugin">
         </property>
         <property
               name="applicationXMI"
               value="UmletPlugin/Application.e4xmi">
         </property>
         <property
               name="applicationCSS"
               value="platform:/plugin/UmletPlugin/css/default.css">
         </property>
      </product>
   </extension>

</plugin>
