
.gwt-PopupPanel {
	background-color: white;
	padding: 0px !important;
	}

.centerPopup {
	border: 2px solid black !important;
}

.centerPopupContent {
	padding: 2px !important;
}

.exportPopup {
	font-size: 130%;
	font-weight: bold;
	text-align: center;
}

.menuPopup {
	border: 2px solid #E3E8F3 !important;
	padding: 0px !important;
}

.popupHeader {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 0.8em;
	letter-spacing: 1px;
	color: white;
	background-color: black;
	padding-bottom: 0.1em;
}

.mainView {
	outline:none;
}

* {
/* Prevent any object from being highlighted upon touch event*/
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

.gwt-SuggestBoxPopup {
	/*   overflow: auto !important; */
	/*   max-height: 400px; */
	background-color: white !important;
}

.gwt-SuggestBoxPopup .item {
	font-size: 90% !important;
	padding: 0px !important;
}