
.popup {
	background-color: white;
	font-size: 130%;
	font-weight: bold;
	border: 2px solid black;
	padding: 5px;
	text-align: center;
}

/* .gwt-SuggestBoxPopup { */
/*   overflow: auto !important; */
/*   max-height: 400px; */
/* } */

.gwt-SuggestBoxPopup .item {
	font-size: 90% !important;
	padding: 0px !important;
}