
.gwt-PopupPanel {
    background-color: white;
    padding: 0px !important;
}

.centerPopup {
    border: 2px solid black !important;
}

.centerPopupContent {
    padding: 2px !important;
}

.exportLink {
    font-size: 130%;
    font-weight: bold;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

.menuPopup {
    padding: 0px !important;
}

.menuPopup.light {
    border: 2px solid #E3E8F3 !important;
}

.menuPopup.dark {
    border: 2px solid #808080 !important;
}

.popupHeader {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8em;
    letter-spacing: 1px;
    color: white;
    background-color: black;
    padding-bottom: 0.1em;
}

* {
    /* Prevent any object from being highlighted upon touch event*/
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    /* We don't want any orange borders when clicking on elements */
    outline: none !important;
}

.gwt-SuggestBoxPopup {
    /*   overflow: auto !important; */
    /*   max-height: 400px; */
    /*background-color: white !important;*/
}

.gwt-SuggestBoxPopup .item {
    font-size: 90% !important;
    padding: 0px !important;
}

/* We can't color these using Java-code, therefore we have to rely on CSS */
.gwt-MenuItem.gwt-MenuItem-selected.light {
    background: #E3E8F3 !important;
}

.gwt-MenuItem.gwt-MenuItem-selected.dark {
    background: #808080 !important;
}

.gwt-SuggestBoxPopup .suggestPopupContent.light {
    background: #FFFFFF !important;
    color: #000000 !important;
}

.gwt-SuggestBoxPopup .suggestPopupContent.dark {
    background: #1E1E1E !important;
    color: #FFFFFF !important;
}

.suggestPopupTop.light {
    background: #FFFFFF !important;
}

.suggestPopupMiddle.light {
    background: #FFFFFF !important;
}

.suggestPopupBottom.light {
    background: #FFFFFF !important;
}

.suggestPopupTop.dark {
    background: #1E1E1E !important;
}

.suggestPopupMiddle.dark {
    background: #1E1E1E !important;
}

.suggestPopupBottom.dark {
    background: #1E1E1E !important;
}

.gwt-SuggestBoxPopup .item.light {
    color: black !important;
}

.gwt-SuggestBoxPopup .item.dark {
    color: white !important;
}

.item.light.item-selected {
    background: #E3E8F3 !important;
}

.item.dark.item-selected {
    background: #808080 !important;
}

.suggestPopupTopCenter, .suggestPopupMiddleLeft, .suggestPopupMiddleRight, .suggestPopupBottomCenter {
    border: none !important;
}

.suggestPopupTopLeft, .suggestPopupTopRight, .suggestPopupBottomLeft, .suggestPopupBottomRight {
    background: none !important;
}

.gwt-SuggestBoxPopup {
    border: 2px solid #bbb !important;
    border-radius: 5px !important;
}
